{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 medium">
    <h1>Welcome to your personal schedule app!</h1>
    <h3>Here you will be able to log in to your own account and view your daily schedule.
      Click on the <b>schedule</b> tab to see your schedule for the current day, including the names
      of all of your teachers and classrooms. The schedule will be color coded as well,
      making it more organized and more fun! Enjoy exploring!</h3>
    <center>
      <img src="../static/screenshot.png" width=700px>
    </center>
  </div>
</div>
{% endblock content %}
